@page "/Result/{Training}"
@inject IWebHostEnvironment hostEnvironment;

<PageTitle>Result</PageTitle>

<div class="row">
	<div class="col-12">
		<h1>Training: @Result.DateTime.ToString()</h1>
	</div>
</div>

@if(Result.TrainDataJson != null) {
<div class="row">
	<div class="col-12">
	<p>This model is trained with features: @String.Join(", ", Result.TrainDataJson.Features)</p>
	</div>
</div>
<div class="row">
	<div class="col-12 o-auto">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>R2</th>
				<th>MAE</th>
				<th>MSE</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var model in Result.TrainDataJson.Models) {
				<tr>
					<td>@model.name</td>
					<td>@model.r2</td>
					<td>@model.mae]</td>
					<td>@model.mse</td>
				</tr>
			}
		</tbody>
	</table>
	</div>
</div>
}


<div class="row">
	<div class="col-12 o-auto">
<table class="table table-striped">
	<thead>
		<tr>
            @foreach(System.Data.DataColumn col in PredictionTable.Columns) {
                <th>@col.ColumnName</th>
			}
		</tr>
	</thead>
	<tbody>

		@for(int i = 0; i < (PredictionTable.Rows.Count > 10 ? 10 : PredictionTable.Rows.Count); i++) {
			<tr>
				@foreach(System.Data.DataColumn col in PredictionTable.Columns) {
					<td>@PredictionTable.Rows[i][col]</td>
				}
			</tr>
		}
	</tbody>
</table>
	</div>
</div>


	<div class="row mt-4">

		@if(Result.Models != null) {
			@foreach(var line in Result.Models) {
				<div class="col-12 col-md-4 col-lg-3 col-xl-3 flex-grow-1">
					<a href="@line" class="btn btn-primary d-block my-1" download="">@Path.GetFileNameWithoutExtension(line)</a>
				</div>
			}
		}

		@if(Result.Scalers != null) {
			@foreach(var line in Result.Scalers) {
				<div class="col-12 col-md-4 col-lg-3 col-xl-3 flex-grow-1">
					<a href="@line" class="btn btn-primary d-block my-1" download="">@Path.GetFileNameWithoutExtension(line)</a>
				</div>
			}
		}


		@if(TrainService.OutputPredictions != null) {
			<div class="col-12 col-md-4 col-lg-4 col-xl-3 flex-grow-1">
				<a href="@TrainService.OutputPredictions" class="btn btn-primary d-block my-1" download="">Download predictions</a>
			</div>
		}

	</div>



@if(Result.Images != null) {
	<div class="row">
		@foreach(var line in Result.Images!) {
		<div class="col-md-6 col-xl-4">
			<img class="w-100" src=@(line) />
		</div>
		}
	</div>
}
